.week_selection{
    display: flex;
    height: fit-content;
    justify-content: center;

}

.date_row{
    background-color: rgb(168, 245, 46);
    border: 1px solid;
    border-color: rgb(122, 139, 113);
    padding: 10px;
}

.event_date_row{
    background-color: rgb(243, 171, 112);
    border: 1px solid;
    border-color: rgb(122, 139, 113);
    padding: 10px;
}

.date_row_button{
    float: right;
}
.date_row_button_delete{
    float: right;
    background-color: red;
    color: white;
}

.calendar_error_message_style{
    display: flex;
    justify-content: center;
    color: white;
    background-color: gray;
}

.date_string{
    display: inline;
    height: fit-content;
}


