.page{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-top: 45px;
}
.scroller{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: fit-content;
    justify-content: left;
    padding-top: 45px;
}

.element_clicked{
    display: flex;
    height: fit-content;
    justify-content: center;
}

.unauth_page{
    background-color: darkgrey;
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;

}


.create_button{
    background-color:blue;
    align-items: left;
    display: block;
    color:white;
    border-radius: 8px;
    
}

.legend_popup{
    display: flex;
    height: fit-content;
    justify-content: left; 
}

.legend_popup_window{
    display: flex;
    height: fit-content;
    justify-content: center; 
    z-index: 1;
    
}

.legend_pop_button{
    
    border-radius: 90px;

}

.edit{
    display: flex;
    height: fit-content;
    justify-content: center; 
    margin: 5px;
}

.edit_button{
    background-color:aqua;
    color:white;
    border-radius: 5px;
}

.delete_button{
    background-color:crimson;
    color:white;
    border-radius: 5px;
}

.delete_sure{
    display: flex;
    height: fit-content;
    justify-content: center; 
    color:red
}

.yes_delete{
    background-color:chartreuse;
    border-color: red;
    font-size: 16px;
}

.no_delete{
    background-color:aliceblue;
    font-size: 16px;
}






