.page{
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
}

.unauth_page{
    background-color: darkgrey;
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;

}



.create_button{
    background-color:blue;
    align-items: left;
    display: block;
    color:white;
    border-radius: 8px;
    
}

